section[class="dashboard-intro"], section[class="dashboard-legend"], section[class="dashboard-stats"], section[class="dashboard-actions"]{ 
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}


section[class="dashboard-stats"] table, section[class="dashboard-legend"] table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

section[class="dashboard-stats"] th, section[class="dashboard-stats"] td, section[class="dashboard-legend"] th, section[class="dashboard-legend"] td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

section[class="dashboard-stats"] th, section[class="dashboard-legend"] th{
    background-color: #a1a1a1;
    font-weight: bold;
}

section[class="dashboard-actions"] form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

section[class="dashboard-actions"] button{
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}