.main-body{ 
    margin: 0;;
    background-color: beige;
}

.main-title{
    display: block;
    text-align: center;
    justify-content: center;
    background-color: lightblue;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;
} 

.Register-form{
    display: block;
    text-align: center;
    margin-top: 50px;
} 

.Dashboard{
    display: box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 90%;
    height: 500px;
    border: 8px solid black;
    border-radius: 20px;
}

